<div class="col-md-12">
  <form class="row form-inline" name="myForm" role="form" ng-submit="vm.doSearch()">
    <div class="form-group">
      <label class="sr-only for="youTubeChannelID">YouTubeChannelID</label>
      <input
        id="youTubeChannelID"
        type="text"
        placeholder="Search"
        class="form-control"
        name="youTubeChannelID"
        ng-model="vm.queryData.typedSearchText" />

      <div ng-messages="myForm.colorCode.$error" ng-if="myForm.$submitted || myForm.colorCode.$touched">
        <div ng-message="required">Missing Value</div>
        <div ng-message="minlength">Minimum Length</div>
        <div ng-message="pattern">Must match</div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Search</button>
    <button type="button" class="btn" ng-click="vm.addChannel()">Add Channel</button>
  </form>

  <div class="row top-buffer">
    <div  ui-grid="vm.gridOptions" ui-grid-selection class="channelGrid" external-scopes="vm"></div>
  </div>
</div>
